.navbar-brand{
		padding: 5px 10px 0 100px;
	}

.fa-2x {
    font-size: 2.2em;
}

.navbar-form .form-control{
	width: 400px;
}

.header-nav-item {
    float: left;
    
}

.header-nav-link{
    display: block;
    padding: 12px 8px;
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    color: #333;
}

.header-nav {
    list-style: none;
    margin-left: -18px;
}

a{
	text-decoration: none;
}

img.profile.logo{
	width: 20px;
    height: 20px;
    border-radius: 3px;
}

.tab-pane{
    padding-top: 20px;
}

.public-contributions{
    width: 97%;
	margin-left: 1.5%;
}

.fullname{
	display: block;
    overflow: hidden;
    width: 100%;
    font-size: 26px;
    line-height: 30px;
    text-overflow: ellipsis;
}

.username{
	display: block;
    overflow: hidden;
    width: 100%;
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 24px;
    color: #666;
    text-overflow: ellipsis;
}

.vcard-names {
    margin-top: 5px;
    line-height: 1;
}

.vcard-details {
    list-style: none;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #eee;
    padding-left: 0;
}

.vcard-detail {
    width: 100%;
    padding: 2px 0 2px 24px;
    overflow-x: hidden;
    white-space: nowrap;
    font-size: 14px;
    text-overflow: ellipsis;
}

.vcard-detail .octicon {
    float: left;
    width: 16px;
    text-align: center;
    margin-left: -24px;
    color: #999;
}

.octicon{
    display: inline-block;
    text-decoration: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.vcard-stats {
    margin-bottom: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.vcard-stat {
    float: left;
    width: 33.333%;
    font-size: 11px;
    text-transform: capitalize;
}

.vcard-stats:after {
    display: table;
    clear: both;
    content: "";
}

.vcard-stat-count {
    display: block;
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}

.tooltipped {
    position: relative;
}

.text-muted {
    color: #767676;
}


.avatar-group-item {
    display: inline-block;
    margin-bottom: 3px;
}

a {
    color: #4078c0;
    text-decoration: none;
}

.avatar {
    display: inline-block;
    overflow: hidden;
    line-height: 1;
    vertical-align: middle;
    border-radius: 3px;
}

img {
    border: 0;
}

.mini-repo-list-item {
    position: relative;
    display: block;
    padding: 6px 64px 6px 30px;
    font-size: 14px;
    border-top: 1px solid #e5e5e5;
}

.mini-repo-list>li:first-child .mini-repo-list-item {
    border-top: 0;
}

.mini-repo-list-item .repo-icon {
    float: left;
    margin-top: 2px;
    margin-left: -20px;
    color: #666;
}

.octicon-repo-delete:before, .octicon-repo:before {
    content: '\f001';
}

.mini-repo-list-item .repo-and-owner {
    max-width: 220px;
}

.mini-repo-list-item .repo {
    font-weight: bold;
}

.popular-repos .mini-repo-list-item .stars {
    margin-top: 16px;
}

.mini-repo-list-item .stars {
    position: absolute;
    top: 0;
    right: 10px;
    margin-top: 6px;
    font-size: 12px;
    color: #888;
}

.mini-repo-list-item .repo-description {
    display: block;
    max-width: 100%;
    font-size: 12px;
    color: #767676;
    line-height: 21px;
}

.css-truncate.css-truncate-target, .css-truncate .css-truncate-target {
    display: inline-block;
    max-width: 125px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: top;
}

.boxed-group.flush .boxed-group-inner {
    padding: 0;
}

.boxed-group-inner {
    padding: 1px 10px;
    background: #fff;
    border: 1px solid #d8d8d8;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    color: #666;
    font-size: 13px;
}


ul, ol {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

.mini-repo-list {
    list-style: none;
}

.contrib-column {
    padding: 15px 0;
    text-align: center;
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-size: 11px;
}

.text-muted {
    color: #767676;
}

.contrib-number {
    font-weight: 300;
    line-height: 1.3em;
    font-size: 24px;
    display: block;
    color: #333;
}

.last-column{
    border-right: 1px solid #ddd;
}