<main class="container">
	<div class="col-lg-2 col-lg-offset-1">
		<div class="row">
			<img ng-src="{{user.model.avatar_url}}" alt="" width="190" class="img-rounded"/>
				
			<h1 class="vcard-names">
				<span class="fullname">{{user.model.name}}</span>
				<span class="username">{{user.model.login}}</span>
			</h1>
			<ul class="vcard-details">
      			<li class="vcard-detail">
      				<span class="octicon">
      					<i class="fa fa-building-o"></i>
      				</span>{{user.model.company}}
  				</li>

			  	<li class="vcard-detail">
			  		<span class="octicon">
			  			<i class="fa fa-globe"></i>
			  		</span>{{user.model.location}}
		  		</li>

			    <li class="vcard-detail">
			    	<span class="octicon">
			    		<i class="fa fa-envelope-o"></i>
			    	</span>
			    	<a class="email" href="mailto:{{user.model.email}}">{{user.model.email}}</a>
		    	</li>

			  	<li class="vcard-detail" itemprop="url">
			  		<span class="octicon">
			  			<i class="fa fa-link"></i>
			  		</span>
			  		<a ng-href="{{user.model.blog}}" class="url">{{user.model.blog}}"</a>
		  		</li>

			  	<li class="vcard-detail">
			  		<span class="octicon">
			  			<i class="fa fa-clock-o"></i>
			  		</span>
			  		<span class="join-label">Joined on </span>
			  		<time class="join-date">{{user.model.created_at | date}}</time>
		  		</li>
			</ul>
			<div class="vcard-stats">
		        <a class="vcard-stat" href="/davyengone/followers">
		          <strong class="vcard-stat-count">{{user.model.followers}}</strong>
		          <span class="text-muted">Followers</span>
		        </a>
		        <a class="vcard-stat" href="/stars">
		          <strong class="vcard-stat-count">{{user.model.starred}}</strong>
		          <span class="text-muted">Starred</span>
		        </a>
		        <a class="vcard-stat" href="/davyengone/following">
		          <strong class="vcard-stat-count">{{user.model.following}}</strong>
		          <span class="text-muted">Following</span>
		        </a>
	      	</div>
	      	<div class="clearfix">
	          	<h3>Organizations</h3>
              	<a ng-repeat="org in user.model.organisations" ng-href="/{{org.login}}" class="tooltipped tooltipped-n avatar-group-item">
              		<img alt="@{{org.login}}" class="avatar" height="42" ng-src="{{org.avatar_url}}" width="42">
          		</a>
    		</div>
		</div>
	</div>
	<div class="col-lg-9">
	  	<div>
			<!-- Nav tabs -->
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active">
					<a href="#contributions" aria-controls="contributions" role="tab" data-toggle="tab">Contributions</a>
				</li>
				<li role="presentation"><a href="#repositories" aria-controls="repositories" role="tab" data-toggle="tab">Repositories</a></li>
				<li role="presentation"><a href="#publicactivity" aria-controls="public activity" role="tab" data-toggle="tab">Public Activity</a></li>
			</ul>

			<!-- Tab panes -->
			<div class="tab-content">
				<div role="tabpanel" class="tab-pane active" id="contributions">
					<div class="row">
						<div class="col-lg-6">
							<div class="list-group">
								<a href="#" class="list-group-item active">
									Popular Repositories
								</a>
								<ul class="boxed-group-inner mini-repo-list">
									<li class="public source"  ng-repeat="repo in user.model.repos | limitTo:5">
								      	<a ng-href="{{repo.url}}" class="mini-repo-list-item css-truncate">
								        	<span class="repo-icon octicon">
								        		<i class="fa fa-code-fork"></i>
								        	</span>
									      	<span class="repo-and-owner css-truncate-target">
												<span class="repo" title="{{repo.name}}">{{repo.name}}</span>
									      	</span>
									      	
									      	<span class="stars">
									        	{{repo.stargazers_count}}
									        	<span class="octicon">
									        		<i class="fa fa-star"></i>
									        	</span>
									      	</span>
									      	<span class="repo-description css-truncate-target">{{repo.description}}</span>
									    </a>
								  	</li>
								</ul>
							</div>
						</div>
						<div class="col-lg-6">
							<div class="list-group">
								<a href="#" class="list-group-item active">
									Repositories contributed to
								</a>
								<ul class="boxed-group-inner mini-repo-list">
									<li class="public source"  ng-repeat="repo in user.model.repos | limitTo:5">
								      	<a ng-href="{{repo.url}}" class="mini-repo-list-item css-truncate">
								        	<span class="repo-icon octicon">
								        		<i class="fa fa-code-fork"></i>
								        	</span>
									      	<span class="repo-and-owner css-truncate-target">
												<span class="repo" title="{{repo.name}}">{{repo.name}}</span>
									      	</span>
									      	
									      	<span class="stars">
									        	{{repo.stargazers_count}}
									        	<span class="octicon">
									        		<i class="fa fa-star"></i>
									        	</span>
									      	</span>
									      	<span class="repo-description css-truncate-target">{{repo.description}}</span>
									    </a>
								  	</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="list-group public-contributions">
							<a href="#" class="list-group-item active col-lg-12">
								Public contributions
							</a>
						</div>
					</div>	
				</div>
				<div role="tabpanel" class="tab-pane" id="repositories">
					Another thing here
				</div>
				<div role="tabpanel" class="tab-pane" id="publicactivity">
					and finally here
				</div>
			</div>

		</div>
	</div>
</main>